body {
  height: 100vh;
  width: 100vw;
  background-color: #191c29;
  background-size: cover;
  margin: 0rem;
  overflow: hidden;
  transition: 1s;
  cursor: all-scroll;
}

.text {
  color: white;
  text-align: center;
}

#image-track {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
}

.image {
  width: 30vmin;
  height: 42vmin;
  object-fit: cover;
  object-position: 100% center;
  transition: all 0.5s ease-in-out;
  user-select: none;
  border-radius: 16px;
}

#inter-text {
  font-size: 3vw;
  text-align: center;
  color: orange;
  padding-top: 5%;
}

.image-info {
  width: 30vmin;
  height: 42vmin;
  object-fit: cover;
  object-position: center center;
  user-select: none;
}

.image-active {
  width: 50%;
  height: 100%;
}

img {
  opacity: 0.7;
  transition: 0.2s;
  width: 100%;
}

.image:hover {
  opacity: 1;
}

.description-wrapper {
  margin-top: 4vh;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: #75FFFF;
}

#description {
  font-size: 3vw;
  font-family: 'Palatino Linotype';
  /* background-color: rgba(0, 0, 0, 0.7); */
}
