body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
}

.top-carousel-wrapper {
  overflow: hidden;
}

.top-carousel-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 200%;
}

.top-carousel-container .image-top {
  height: 100px;
  width: 100%;
  /* background-image: url('https://images.unsplash.com/photo-1538947151057-dfe933d688d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80'); */
  background-image: "/assets/profile_img.jpg";
  background-size: cover;
}

.image-top:nth-child(odd) {
  /* background-image: url('https://images.unsplash.com/photo-1489183988443-b37b7e119ba6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2372&q=80'); */
  background-image: "/assets/projects_img.jpg";
}

.text {
  color: white;
  text-align: center;
}

#image-carousel-text {
  font-size: 40px;
}

#image-track {
  margin: 2rem;
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

img {
  transition: 0.2s;
}

img:hover {
  transform: scale(1.25);
}